<body>
<h1>Calculo de notas </h1>

  <form >
      <div>
          <ul>
    <li>Nota Laboratorio 1</li>
    <input />
     <li>Nota Laboratorio 2</li>
     <input />
      <li>Nota Laboratorio 3</li>
      <input  />
      </ul>
    <button>Calcular</button>
    <input />
    </div>
    <div>
        <ul>
    <li>Nota Parcial 1</li>
    <input/>
     <li>Nota Parcial 2</li>
     <input/>
      <li>Nota Parcial 3</li>
      <input/>
       </ul>
      <button>Calcular</button>
      <input/>
      </div>
  </form>
</body>
